<div class="container content mt-3" *ngIf="showFilms">
    <div class="text-center" [ngStyle]="{'color':config.color}">
        <h3>Available films:</h3>
    </div>

    <ul>
        <li *ngFor="let film of films">
            {{film.tittle}}, {{film.year}}.

            <span [ngClass]="film.price >= 500?'expensive':'fw-bold'"> 
            <!--  [class.expensive]="film.price >= 500"  -->
                ${{film.price}}
            </span>

            <span class="text-danger fw-bold blink ms-2" *ngIf="film.clasification == 0">
                No apta para todo público!
            </span>
        </li>
    </ul>
</div>
<div class="mb-3 text-center">
    <button class="btn btn-outline-dark btn-sm" (click)="onGoHome()">Go home!</button>
  </div>
<div class="container content">
    <div class="row">
        <label class="col-sm-4 col-form-label fw-bold text-end" for="filmName">Genre name:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" id="filmName"
             [(ngModel)]="genreName" [ngStyle]="{'background':config.background}" 
             (keyup.enter)="onEnter(genres)"/>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-outline-primary btn-sm" (click)="onAdd()">Add</button>
        </div>
    </div>
</div>
<div class="container content">
    <div class="row">
        <label class="col-sm-4 col-form-label fw-bold text-end" for="colorName">Color name:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" id="colorName"
             [(ngModel)]="colorName" [ngStyle]="{'background':config.background}"
             (focus)="onFocus()" (blur)="onBlur()" (keyup.enter)="onEnter()" />
        </div>
        <div class="col-sm-2">
            <button class="btn btn-outline-primary btn-sm" (click)="onChange()">Change</button>
        </div>
    </div>
</div>
<div class="container content">
    <div class="text-center mt-2">
        <h5>Genres:</h5>
    </div>

    <ol>
        <li *ngFor="let genre of genres; let i = index">
            <button class="btn btn-outline-primary btn-sm mx-1" (click)="onDel(i)">Del</button>
            {{genre}}.
        </li>
    </ol>
</div>
